.hero {
  position: relative;
  display: block;
  .img-responsive {
    filter: brightness(0.9); 
  }
}
.hero-text {
  @extend .carousel-caption;
  h1 {
    line-height: 1;
    font-size: 6vw;
    @media (max-width: $grid-float-breakpoint) {
      font-size: 9.5vw;
    }
  }
  p {
    font-size: $jumbotron-font-size;
    font-weight: 900;
    line-height: 1;
  }
}